*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 20px;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body div{
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

body button{
    padding: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: transparent;
}

