*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins, sans-serif';
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: rgba(247, 186, 186, 0.866);
    background-image:
    radial-gradient(at 40% 20%, hsla(28, 100%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340, 100%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0px, transparent 50%);
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img{
    width: 30px;
    margin-left: 8px;
}

.row{
    background: #edeef0; 
    border: none;
    font-weight: 500;
    padding-left: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: none;
    padding: 10px;
    font-size: 18px;
}

button{
    background-color: rgb(246, 92, 36);
    color: white;
    border: none;
    outline: none;
    padding: 16px 50px;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
}

ul li{
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    list-style: none;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px; /* Adjust this value to control the spacing between the bullet and the text */
    border-radius: 50%;
    height: 28px;
    width: 28px;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 10px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: black;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background-color: rgb(128, 163, 192);
}