@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(212, 179, 222);

}
.wrapper{
    width: 80vmin;
    padding: 40px 40px;
    background-color: black;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 20px 20px 40px rgba(126, 72, 150, 0.5);
}
span{
    display: block;
    text-align: center;
    font-size: 80px;
}

p{
    font-size: 18px;
    color: bisque;
    font-weight: 400;
    text-align: center;
    word-wrap: break-word;
    line-height: 30px;
    margin: 30px 0;
    opacity: 0;
}

.fade{
    opacity: 1;
    transition: opacity 1.7s;

}

button{
    display: block;
    background: rgb(212, 179, 222);
    border: none;
    padding: 6px;
    font-size: 18px;
    color: rgb(39, 37, 37);
    font-weight: 500;
    padding: 10px 10px;
    margin: 0 auto; /* to align in center */
    border-radius: 4px;
    cursor: pointer;
}